@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Barlow Condensed", sans-serif;
  }
}

/* Hide horizontal scrollbar only */
.no-scrollbar-x {
  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE / Edge */
}

.no-scrollbar-x::-webkit-scrollbar {
  height: 0;                  /* Chrome / Safari */
}

